<% include ../sub/header %>
      <% include ../sub/admin_menu %>

      <div class="admin_right">
        <room_rsv-input 
        :room_rsv="formData" 
        :is_admin="is_admin"
        :is_adminpage="true"
        :rsv_status_results="rsv_status_results"
        :room_rsv_category_results="room_rsv_category_results"
        :department_results="department_results"
        :building_id="building_id"
        mod="POST"></room_rsv-input>
      </div>
    <footer>
      <% include ../sub/footer %>
    </footer>
  </div>

  <% include ../component/reservation_input %>
  <script>
    var global = makeGlobal();
    
    var rsv_status_results = <%-JSON.stringify(rsv_status_results) %>;
    var room_rsv_category_results = <%-JSON.stringify(room_rsv_category_results) %>;
    var department_results = <%-JSON.stringify(department_results) %>;

    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          admin_menu_name : global.getHeaderMenuName("<%-pagename %>"),
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          building_id: <%- building_id %>,
          formData : {
            rsv_status: null,
            room_rsv_category_id: null,
            department_id: null,
            study_group_id: null,
            title: null,
            student_count: null,
            non_student_count: null,
            representative_name: null,
            representative_phone: null,
            description: null,
            date: null,
          },
          rsv_status_results: rsv_status_results,
          room_rsv_category_results: room_rsv_category_results,
          department_results: department_results,
        }
      },
    })
  </script>

</body>

</html>