<% include ../sub/header %>
      <% include ../sub/admin_menu %>
      <div class="admin_right">
        <room_rsv-input 
        :room_rsv="room_rsv" 
        :is_admin="is_admin"
        :is_adminpage="true"
        mod="GET"
        :rsv_status_results="rsv_status_results"
        :room_rsv_category_results="room_rsv_category_results"
        :building_id="building_id"
        :department_results="department_results"
        >
        </room_rsv-input>
      </div>
    </main>

    <footer>
      <% include ../sub/footer %>
    </footer>
  </div>

  
  <% include ../component/reservation_input %>
  <script>
    var global = makeGlobal();
    var room_rsv = <%-JSON.stringify(room_rsv) %>;
    var rsv_status_results = <%-JSON.stringify(rsv_status_results) %>;
    var room_rsv_category_results = <%-JSON.stringify(room_rsv_category_results) %>;
    var department_results = <%-JSON.stringify(department_results) %>;
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          admin_menu_name: global.getAdminMenuName("<%-pagename %>"),
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          building_id: <%- building_id %>,
          room_rsv: room_rsv,
          rsv_status_results: rsv_status_results,
          room_rsv_category_results: room_rsv_category_results,
          department_results: department_results,
        }
      },
      methods: {

      }
    })
  </script>

</body>

</html>