<% include ../sub/header %>
      <% include ../sub/admin_menu %>

      <h1>교실목록</h1>
      <div>
        <div>
          <button type="button" class="btn btn-default">층</button>
          <select class="form-control">
            <option value="1" selected>1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
          </select>
        </div>
        <div>
          <button type="button" class="btn btn-default">교실카테고리</button>
          <select class="form-control">
            <option value="L1">강의실1</option>
            <option value="C1" selected>전산실1</option>
            <option value="">강의실2</option>
            <option value="">전산실2</option>
          </select>
        </div>
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <td>카테고리</td>
                <td>호실(층)</td>
                <td>이름</td>
                <td>상세</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(room, i) in results" :key="i"> 
                <td> {{ room.room_category_name }}</td>
                <td> {{ room.room_number }}</td>
                <td> {{ room.name }} </td>
                <td> <button type="button" class="btn btn-default" @click="location.href='/admin/room/single/' + room.room_id">
                      상세조회
                     </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="button" class="btn btn-primary">추가하기</button>
        <div>
          <nav>
            <ul class="pagination">
              <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
              <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
              <li class="disabled"><a href="#">2 <span class="sr-only">(current)</span></a></li>
              <li class="disabled"><a href="#">3 <span class="sr-only">(current)</span></a></li>
              <li class="disabled"><a href="#">4 <span class="sr-only">(current)</span></a></li>
              <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </main>

    <footer>
      <% include ../sub/footer %>
    </footer>
  </div>

  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          admin_menu_name: global.getAdminMenuName("<%-pagename %>"),
          is_user: <%- is_user %> ,
          is_admin: <%- is_admin %> ,
          results: <%-JSON.stringify(results) %> ,
          list_count: <%-JSON.stringify(list_count) %> ,
          query: <%-JSON.stringify(query) %> ,
          params: <%-JSON.stringify(params) %> 
        }
      },
      methods: {

      },
      computed: {
        pagenation: function() {
          return pagenation({
            numberOfItems:this.list_count,
            itemsPerPage: 10,
            pagesPerNav:5,
            indexOfPage: this.query.page,
            hasPrevAndNext: true,
            prevText:'&laquo;',
            nextText:'&raquo;',
          })
        },
      }
    })
  </script>

</body>

</html>