<% include ../sub/header %>
      <% include ../sub/admin_menu %>
      
    </main>

    <footer>
      <% include ../sub/footer %>
    </footer>
  </div>

  
  <% include ../component/datepicker %>
  <script>
    var global = makeGlobal();
    var building = <%-JSON.stringify(building) %>;
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          admin_menu_name: global.getAdminMenuName("<%-pagename %>"),
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          building: building,
        }
      },
      methods: {

      }
    })
  </script>

</body>

</html>