<% include ../sub/header %>
      <% include ../sub/admin_menu %>
      
      <div class="admin_right">
      
        <div class="lookup_body">
          <div class="lookup_select">
            <div class="pack_div clearfix">
              <div class="select_div clearfix">
                <div class="div_l">
                  <label>권한</label>
                </div>
                <div class="div_r">
                  <select class="form-control" v-model="query.is_admin" @change="onChange()">
                    <option v-bind:value="0" :selected="query.is_admin == 0">전체</option>
                    <option v-bind:value="1" :selected="query.is_admin == 1">관리자</option>
                  </select>
                </div>
              </div>
              
              <div class="select_div">
                <div class="div_l">
                  <label>학과</label>
                </div>
                <div class="div_r">
                  <select class="form-control" v-model="query.department_id" @change="onChange()">
                    <option v-bind:value="0" :selected="query.department_id===0">전체</option>
                    <option v-for="(department, i) in department_results" v-bind:value="department.department_id"
                      :selected="query.department_id == department.department_id" :key="i">
                      {{ department.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <table class="table table-hover">
            <thead>
              <th>이름</th>
              <th>학번</th>
              <th>전화번호</th>
              <th>관리</th>
              <th>권한</th>
            </thead>
            <tbody>
              <tr v-for="(user, i) in results" :key="i">
                <td>{{user.name}}</td>
                <td>{{user.student_number}}</td>
                <td>{{user.phone}}</td>
                <td><button type="button" class="btn btn-default" @click="location.href='/admin/user/single/' + user.user_id">조회</button></td>
                <td>
                  <button type="button" @click="changeToUser(user)" :class="classIsPrimary(user.user_type == global.USER_TYPE)">유저</button>
                  <button type="button" @click="changeToAdmin(user)" :class="classIsPrimary(user.user_type ==  global.ADMIN_TYPE)">관리자</button>
                </td>
              </tr>
            </tbody>
          </table>

          <nav>
            <ul class="pagination">
              <li
              v-for="page in pagenation"
              :key="page.value"
              :class="{active: page.isSelf}">
                <a @click="chagePage(page.value)" aria-label="Previous">
                  <span aria-hidden="true" v-html="page.name"></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>

      </div>
    </main>

    <footer>
      <% include ../sub/footer %>
    </footer>
  </div>

  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          admin_menu_name: global.getAdminMenuName("<%-pagename %>"),
          is_user: <%- is_user %> ,
          is_admin: <%- is_admin %> ,
          results: <%-JSON.stringify(results) %> ,
          list_count: <%-JSON.stringify(list_count) %> ,
          query: <%-JSON.stringify(query) %> ,
          params: <%-JSON.stringify(params) %> ,
          department_results: <%-JSON.stringify(department_results) %> ,
        }
      },
      methods: {
        changeToUser: function(user) {
          if (user.user_type == global.USER_TYPE) {
            alert('이미 해당 권한입니다.')
          } else {
            this.chageUserType(user.user_id, global.USER_TYPE);
          }
        },
        changeToAdmin: function(user) {
          if (user.user_type == global.ADMIN_TYPE) {
            alert('이미 해당 권한입니다.')
          } else {
            this.chageUserType(user.user_id, global.ADMIN_TYPE);
          }
        },
        chageUserType: function(user_id, user_type) {
          var __this = this;
          global.ajax({
            url: '/api/user/user_type/' + user_id,
            type: 'PUT',
            data: {
              user_type: user_type,
            },
          },
          function (data, status) {
            alert(data.message);
            __this.refresh();
          },
          function (message, status, data) {
            alert(message);
          });
        },
        onChange: function() {
          this.refresh();
        },
        clickIsAdmin: function(is_admin) {
          this.query.page = 1;
          this.query.is_admin = is_admin;
          this.refresh();
        },
        refresh: function() {
          this.query.is_admin = this.query.is_admin  || undefined;
          this.query.department_id = this.query.department_id  || undefined;
          location.href='/admin/user/lookup' + global.serializeQuery(this.query)
        },
        classIsPrimary: function(flag) {
          return {
            'btn btn-primary': flag,
            'btn btn-default': !flag,
          }
        },
      },
      computed: {
        pagenation: function() {
          return pagenation({
            numberOfItems:this.list_count,
            itemsPerPage: 10,
            pagesPerNav:5,
            indexOfPage: this.query.page,
            hasPrevAndNext: true,
            prevText:'&laquo;',
            nextText:'&raquo;',
          })
        },
      }, 
    })
  </script>

</body>

</html>