<% include ../sub/header %>
      <% include ../sub/admin_menu %>
      <div>
        <div>
          <button type="button" 
          :class="classIsPrimary(query.is_admin)"
           @click="clickIsAdmin(query.is_admin == 1 ? 0 : 1)">
            관리자
           </button>
        </div>
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <td>이름</td>
                <td>학번</td>
                <td>전화번호</td>
                <td>상세보기</td>
                <td>권한</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(user, i) in results" :key="i">
                <td>{{user.name}}</td>
                <td>{{user.student_number}}</td>
                <td>{{user.phone}}</td>
                <td><button type="button" class="btn btn-default" @click="location.href='/admin/user/single/' + user.user_id">상세보기</button></td>
                <td>
                  <button type="button" @click="changeToUser(user)" :class="classIsPrimary(user.user_type == global.USER_TYPE)">유저</button>
                  <button type="button" @click="changeToAdmin(user)" :class="classIsPrimary(user.user_type ==  global.ADMIN_TYPE)">관리자</button>
                  {{user.user_type}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <nav>
            <ul class="pagination">
              <li
              v-for="page in pagenation"
              :key="page.value"
              :class="{active: page.isSelf}">
                <a @click="chagePage(page.value)" aria-label="Previous">
                  <span aria-hidden="true" v-html="page.name"></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </main>

    <footer>
      <% include ../sub/footer %>
    </footer>
  </div>

  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          admin_menu_name: global.getAdminMenuName("<%-pagename %>"),
          is_user: <%- is_user %> ,
          is_admin: <%- is_admin %> ,
          results: <%-JSON.stringify(results) %> ,
          list_count: <%-JSON.stringify(list_count) %> ,
          query: <%-JSON.stringify(query) %> ,
          params: <%-JSON.stringify(params) %> ,
        }
      },
      methods: {
        changeToUser: function(user) {
          if (user.user_type == global.USER_TYPE) {
            alert('이미 해당 권한입니다.')
          } else {
            this.chageUserType(user.user_id, global.USER_TYPE);
          }
        },
        changeToAdmin: function(user) {
          if (user.user_type == global.ADMIN_TYPE) {
            alert('이미 해당 권한입니다.')
          } else {
            this.chageUserType(user.user_id, global.ADMIN_TYPE);
          }
        },
        chageUserType: function(user_id, user_type) {
          var __this = this;
          global.ajax({
            url: '/api/user/user_type/' + user_id,
            type: 'PUT',
            data: {
              user_type: user_type,
            },
          },
          function (data, status) {
            alert(data.message);
            __this.refresh();
          },
          function (message, status, data) {
            alert(message);
          });
        },
        clickIsAdmin: function(is_admin) {
          this.query.is_admin = is_admin  || undefined;
          this.query.page = 1;
          this.refresh();
        },
        refresh: function() {
          location.href='/admin/user/lookup' + global.serializeQuery(this.query)
        },
        classIsPrimary: function(flag) {
          return {
            'btn btn-primary': flag,
            'btn btn-default': !flag,
          }
        },
      },
      computed: {
        pagenation: function() {
          return pagenation({
            numberOfItems:this.list_count,
            itemsPerPage: 10,
            pagesPerNav:5,
            indexOfPage: this.query.page,
            hasPrevAndNext: true,
            prevText:'&laquo;',
            nextText:'&raquo;',
          })
        },
      }, 
    })
  </script>

</body>

</html>