<% include ../sub/header %>
      <% include ../sub/admin_menu %>
      <h1>관리자_회원목록</h1>
      <div>
        <div>
          <button type="button" 
          :class="classIsAdmin()"
           @click="clickIsAdmin(query.is_admin == 1 ? 0 : 1)">
            관리자
           </button>
        </div>
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <td>이름</td>
                <td>학번</td>
                <td>전화번호</td>
                <td>상세보기</td>
                <td>권한</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(user, i) in results" :key="i">
                <td>{{user.name}}</td>
                <td>{{user.student_number}}</td>
                <td>{{user.phone}}</td>
                <td><button type="button" class="btn btn-default" @click="location.href='/admin/user/single/' + user.user_id">상세보기</button></td>
                <td><button type="button" class="btn btn-primary">관리자</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <nav>
            <ul class="pagination">
              <li
              v-for="page in pagenation"
              :key="page.value"
              :class="{active: page.isSelf}">
                <a @click="chagePage(page.value)" aria-label="Previous">
                  <span aria-hidden="true" v-html="page.name"></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </main>

    <footer>
      <% include ../sub/footer %>
    </footer>
  </div>

  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          admin_menu_name: global.getAdminMenuName("<%-pagename %>"),
          is_user: <%- is_user %> ,
          is_admin: <%- is_admin %> ,
          results: <%-JSON.stringify(results) %> ,
          list_count: <%-JSON.stringify(list_count) %> ,
          query: <%-JSON.stringify(query) %> ,
          params: <%-JSON.stringify(params) %> ,
        }
      },
      methods: {
        clickIsAdmin: function(is_admin) {
          this.query.is_admin = is_admin  || undefined;
          this.query.page = 1;
          this.refresh();
        },
        refresh: function() {
          location.href='/admin/user/lookup' + global.serializeQuery(this.query)
        },
        classIsAdmin: function() {
          return {
            'btn btn-primary': this.query.is_admin == 1,
            'btn btn-default': this.query.is_admin != 1,
          }
        },
      },
      computed: {
        pagenation: function() {
          return pagenation({
            numberOfItems:this.list_count,
            itemsPerPage: 10,
            pagesPerNav:5,
            indexOfPage: this.query.page,
            hasPrevAndNext: true,
            prevText:'&laquo;',
            nextText:'&raquo;',
          })
        },
      }, 
    })
  </script>

</body>

</html>