<% include ../sub/header %>
      <% include ../sub/admin_menu %>
      
      <div class="adimn_left">
        <user-input 
        mod="GET"
        :user="user" 
        :is_admin="is_admin"
        :is_adminpage="true"
        :department_results="department_results"
        :campus_results="campus_results"
        :buildings="buildings"
        >
        </user-input>
      
      </div>
    </main>

    <footer>
      <% include ../sub/footer %>
    </footer>
  </div>

  <% include ../component/user_input %>
  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          admin_menu_name: global.getAdminMenuName("<%-pagename %>"),
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          user: <%-JSON.stringify(user) %> ,
          department_results: <%-JSON.stringify(department_results) %> ,
          campus_results: <%-JSON.stringify(campus_results) %>,
          buildings: <%-JSON.stringify(buildings) %>,
        }
      },
      methods: {

      }
    })
  </script>

</body>

</html>