<% include ./sub/header %>
      <% include ./sub/admin_menu %>

      <h1>교실상세페이지</h1>
      <div>
        <div>
          <ul>
            <li style="width:30%">호수</li>
            <li>{{room.room_number}}</li>
          </ul>
          <ul>
            <li style="width:30%">층</li>
            <li>{{room.floor}}</li>
          </ul>
          <ul>
            <li style="width:30%">교실명(카테고리)</li>
            <li> {{ room.room_category_name}} </li>
          </ul>
          <ul>
            <li style="width:30%">좌석수</li>
            <li> {{ room.seat_count }} </li>
          </ul>
          <ul>
            <li style="width:30%">예약권한</li>
            <li> {{ room.auth_rsv_create }} </li>
          </ul>
          <ul>
            <li style="width:30%">예약취소권한</li>
            <li> {{ room.auth_rsv_cancel }} </li>
          </ul>
          <ul>
            <li style="width:30%">예약승인</li>
            <li> {{ room.is_require_rsv_accept }} </li>
          </ul>
          <ul>
            <li style="width:30%">예약취소승인</li>
            <li> {{ room.is_require_cancel_accept }} </li>
          </ul>
          <ul>
            <li style="width:30%">예약가능일자</li>
            <li> {{ room.rsv_apply_min_day }} </li>
          </ul>
          <ul>
            <li style="width:30%">예약취소가능일자</li>
            <li> {{ room.rsv_cancel_min_day }}</li>
          </ul>
        </div>
        <button type="button" class="btn btn-primary">수정하기</button>
      </div>
    </main>

    <footer>
      <% include ./sub/footer %>
    </footer>
  </div>

  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          admin_menu_name: global.getAdminMenuName("<%-pagename %>"),
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          room: <%-JSON.stringify(room) %> ,
          list_count: <%-JSON.stringify(list_count) %> ,
          query: <%-JSON.stringify(query) %> ,
          params: <%-JSON.stringify(params) %> 
        }
      },
      methods: {

      }
    })

  </script>

</body>

</html>