<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/javascripts/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>
  <div id="app">
    <header>
      <% include ./header %>
    </header>

    <main>
      <label>학과</label>
      <select class="form-control" v-model="query.department_id">
        <option v-for="(department, i) in department_results" v-bind:value="department.department_id" :selected="query.department_id == department.department_id" :key="i">
          {{ department.name }}
        </option>
      </select>
      <label>학습관</label>
      <select class="form-control" v-model="query.building_id">
        <option v-for="(building, j) in building_results" v-bind:value="building.building_id" :key="j">
          {{ building.name }}
        </option>
      </select>
      <table class="table table-hover">
        <thead>
          <th>이름</th>
          <th>학과</th>
          <th>학습관</th>
          <th>생성일</th>
        </thead>
        <tbody>
          <tr v-for="(study_group, i) in results" :key="i">
            <td>{{study_group.name}}</td>
            <td>{{study_group.department_name}}</td>
            <td>{{study_group.building_name}}</td>
            <td>{{study_group.date_created}}</td>
          </tr>
        </tbody>
      </table>
      <nav>
        <ul class="pagination">
          <li
          v-for="page in pagenation"
          :key="page.value"
          :class="{active: page.isSelf}">
            <a :href="'/group?page=' + page.value" aria-label="Previous">
              <span aria-hidden="true" v-html="page.name"></span>
            </a>
          </li>
  
        </ul>
      </nav>
    </main>
    
    <footer>
      <% include ./footer %>
    </footer>
  </div>

  <script>
    var global = makeGlobal();
    var results = <%-JSON.stringify(results) %>;
    var list_count = <%-JSON.stringify(list_count) %>;

    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          page_name: 'group',
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          query : <%-JSON.stringify(query) %>,
          results,
          list_count,
          department_results : <%-JSON.stringify(department_results) %>,
          building_results : <%-JSON.stringify(building_results) %>,
        }
      },
      computed: {
        pagenation: function() {
          return pagenation({
            numberOfItems:this.list_count,
            itemsPerPage: this.query.page_length,
            pagesPerNav:5,
            indexOfPage: this.query.page,
            hasPrevAndNext: true,
            prevText:'&laquo;',
            nextText:'&raquo;',
          })
        },
      }, 
      watch: {
        query: function(query) {
          alert('group' + global.serializeQuery(this.query))
          location.href= '/group' + global.serializeQuery(this.query);
        },
      }
    })
  </script>

</body>

</html>