<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/javascripts/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>
  <div id="app">
    <header>
      <% include ./header %>
    </header>

    <main>
      <table class="table table-hover">
        <thead>
          <th>이름</th>
          <th>학과</th>
          <th>학습관</th>
          <th>생성일</th>
        </thead>
        <tbody>
          <tr v-for="(study_group, i) in results" :key="i">
            <td>{{study_group.name}}</td>
            <td>{{study_group.department_name}}</td>
            <td>{{study_group.building_name}}</td>
            <td>{{study_group.date_created}}</td>
          </tr>
        </tbody>
      </table>
      <nav>
        <ul class="pagination">
          <li
          v-for="page in pagenation"
          :key="page.value"
          :class="{active: page.isSelf}">
            <a :href="'/group?page=' + page.value" aria-label="Previous">
              <span aria-hidden="true" v-html="page.name"></span>
            </a>
          </li>
  
        </ul>
      </nav>
    </main>
    
    <footer>
      <% include ./footer %>
    </footer>
  </div>

  <script>
    var global = makeGlobal();
    var results = <%-JSON.stringify(results) %>;
    var list_count = <%-JSON.stringify(list_count) %>;
    var page = <%-JSON.stringify(query.page) %>;
    var page_length = <%-JSON.stringify(query.page_length) %>;

    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          page_name: 'group',
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          results,
          list_count,
        }
      }, // data
      methods : {
        locationHref: function (link) {
          location.href= link;
        }
      }, // methods
      computed: {
        pagenation: function() {
          return pagenation({
            numberOfItems:list_count,
            itemsPerPage: page_length,
            pagesPerNav:5,
            indexOfPage: page,
            hasPrevAndNext: true,
            prevText:'&laquo;',
            nextText:'&raquo;',
          })
        },
      }, // computed
    })
  </script>

</body>

</html>