<% include ./sub/header %>
  <h1>개발용 건물 : 인천지역대학</h1>
      <div class="campuses">
        <dl>
          <dt v-for="(campus, i) in campuses" :key="i">
            <div class="btn-group-vertical" role="group">
              <button type="button" class="btn btn-primary"  @click="clickCampus(campus.campus_id)">{{campus.name}}</button>
              <dl>
                <dt v-for="(building, j) in campus.building_results" :key="j">
                  <div v-if="campus_id==building.campus_id">
                    <button type="button" class="btn btn-default" @click="locationHref('/reservation/'+ building.building_id)" >
                      {{building.name}}
                    </button>
                  </div>
                </dt>
              </dl>
            </div>
          </dt>
        </dl>
      </div>
    </main>
    
    <footer>
      <% include ./sub/footer %>
    </footer>
  </div>

  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          header_menu_name: 'main',
          campuses : <%-JSON.stringify(campuses) %>,
          campus_id: <%- campus_id %>,
        }
      },
      methods : {
        alertBuildingMsg() {
          alert('현재 비 활성화된 건물입니다.');
        },
        clickCampus: function (campus_id) {
          if (this.campus_id == campus_id) {
            this.campus_id = null;
          } else {
            this.campus_id = campus_id
          }
        },
        locationHref: function (link) {
          location.href= link;
        }
      }
    })
  </script>

</body>

</html>