<% include ./sub/header %>
      <custom-datepicker
        :inline="false"
        :selected_date="query.date"
        :default_date="new Date()"
        :building_id="params.building_id"
        :on-selected="onSelected"
        maximum-view="day"
      ></custom-datepicker>
      <label>예약 상태</label>
      <select class="form-control" v-model="query.rsv_status" @change="onChange()">
        <option v-bind:value="0" :selected="query.rsv_status==0">전체</option>
        <option v-for="(status, i) in rsv_status_results" v-bind:value="status.rsv_status" :selected="query.rsv_status == status.rsv_status" :key="i">
          {{ status.name }}
        </option>
      </select>
      <label>학과</label>
      <select class="form-control" v-model="query.department_id" @change="onChange()">
        <option v-bind:value="0" :selected="query.department_id===0">전체</option>
        <option v-for="(department, i) in department_results" v-bind:value="department.department_id" :selected="query.department_id == department.department_id" :key="i">
          {{ department.name }}
        </option>
      </select>

      <label>스터디</label>
      <select class="form-control" v-model="query.study_group_id" @change="onChange()" :disabled="query.department_id===0">
        <option v-for="(study_group, j) in study_group_results" v-bind:value="study_group.study_group_id" :key="j">
          {{ study_group.name }}
        </option>
      </select>
      
      <div class="lookup_button" v-if="is_user">
        <button type="button" class="btn btn-primary" v-if="query.is_mine==1" @click="clickIsMine(0)">내 예약</button>
        <button type="button" class="btn btn-default" v-else @click="clickIsMine(1)">내 예약</button>
      </div>
      
      <table class="table table-hover">
        <thead>
          <th>교실</th>
          <th>카테고리</th>
          <th>상태</th>
          <th>시작</th>
          <th>종료</th>
          <th>학과(스터디)</th>
          <th>자세히보기</th>
        </thead>
        <tbody>
          <tr v-for="(room_rsv, i) in results" :key="i">
            <td>{{room_rsv.rooms_name}}</td>
            <td>{{room_rsv.room_rsv_category_name}}</td>
            <td>{{room_rsv.rsv_status_name}}</td>
            <td>{{room_rsv.start_datetime}}</td>
            <td>{{room_rsv.end_datetime}}</td>
            <td>{{makeDisplayName(room_rsv)}}</td>
            <td><button type="button" class="btn btn-default" @click="locationHref('/resrervation/single/' + room_rsv.room_rsv_id)"> 조회 </button></td>
          </tr>
        </tbody>
      </table><nav>
        <ul class="pagination">
          <li
          v-for="page in pagenation"
          :key="page.value"
          :class="{active: page.isSelf}">
            <a @click="chagePage(page.value)" aria-label="Previous">
              <span aria-hidden="true" v-html="page.name"></span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="lookup_button" v-if="is_user">
        <button type="button" class="btn btn-primary" v-if="query.is_mine==1" @click="clickIsMine(0)">내 그룹</button>
        <button type="button" class="btn btn-default" v-else @click="clickIsMine(1)">내 그룹</button>

        <button type="button" class="btn btn-primary" v-if="query.is_join==1" @click="clickIsJoin(0)">가입한 그룹</button>
        <button type="button" class="btn btn-default" v-else @click="clickIsJoin(1)">가입한 그룹</button>
        <button type="button" class="btn btn-primary" @click="gotoWrite">생성</button>
      </div>
      <% include ./component/datepicker %>
    </main>
    
    <footer>
      <% include ./sub/footer %>
    </footer>
  </div>
  
  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          params : <%-JSON.stringify(params) %>,
          query : <%-JSON.stringify(query) %>,
          results : <%-JSON.stringify(results) %>,
          list_count : <%-JSON.stringify(list_count) %>,
          department_results : <%-JSON.stringify(department_results) %>,
          rsv_status_results : <%-JSON.stringify(rsv_status_results) %>,
          study_group_results : <%-JSON.stringify(study_group_results) %>,
        }
      },
      methods: {
        makeDisplayName: function (room_rsv) {
          var name = ''
          if (room_rsv.department_name)
            name += room_rsv.department_name
          if (room_rsv.study_group_name)
            name += ' (' + room_rsv.study_group_name + ')'
          return name;
        },
        onSelected: function(date) {
          if (date != null) {
            date = global.parseDate(date)
          }
          this.query.date = date;
          this.refresh();
        },
        onChange: function() {
          this.refresh();
        },
        clickIsMine: function(is_mine) {
          this.query.is_mine = is_mine;
          this.refresh();
        },
        chagePage: function(page) {
          this.query.page = page;
          this.refresh();
        },
        refresh: function() {
          this.query.department_id = this.query.department_id || undefined;
          if (!this.query.department_id) {
            this.query.study_group_id = 0;
          }
          this.query.study_group_id = this.query.study_group_id || undefined;
          this.query.rsv_status = this.query.rsv_status || undefined;
          location.href= '/reservation/lookup/' + this.params.building_id + global.serializeQuery(this.query);
        },
      },
      computed: {
        pagenation: function() {
          return pagenation({
            numberOfItems:this.list_count,
            itemsPerPage: 10,
            pagesPerNav:5,
            indexOfPage: this.query.page,
            hasPrevAndNext: true,
            prevText:'&laquo;',
            nextText:'&raquo;',
          })
        },
      }, 
    })
  </script>

</body>

</html>