<% include ./sub/header %>
      <% include ./rsv_section/menu %>
      <% include ./rsv_section/left_info %>

      <template v-if="menu_step=='room'">
        <% include ./rsv_section/room %>
      </template>
      <template v-if="menu_step=='date'">
        <custom-datepicker
          :inline="true"
          :could-selecte-before-today="true"
          :default_date="new Date()"
          :building_id="params.building_id"
          :room_id="formData.room_id"
          :on-selected="onSelected"
          maximum-view="day"
        ></custom-datepicker>
      </template>

    </main>
    
    <footer>
      <% include ./sub/footer %>
    </footer>
  </div>

<% include ./component/datepicker %>
  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          query : <%-JSON.stringify(query) %>,
          params : <%-JSON.stringify(params) %>,
          date: null,
          method : '<%- method %>',
          menu_step : null,
          menu_step_info : {
            'room' : '강의실 선택',
            'date' : '날짜 선택',
            'time' : '시간 선택',
            'detail' : '상세정보 입력',
            'last' : '내용 확인',
          },
          menu_steps : {
            'R' : ['room', 'date', 'time', 'detail', 'last'],
            'DT' : ['date', 'time', 'room' ,'detail', 'last'],
          },
          
          info : {
            floor : null,
            room_name : null,
            room_number : null,
            date: null,
          },
          formData:{
            room_id:null,
            date:null,
          },

          rooms: {},
          holiday_results : [],
        }
      },
      methods: {
        chageMenuStep: function (menu_step) {
          var _obj = this.checkMenuStep(menu_step);
          var is_next = _obj.is_next;
          if (is_next) {
            alert('다음 단계를 선택할 수 없습니다')
          } else {
            this.menu_step = menu_step;
          }
        },
        checkMenuStep: function(menu_step) {
          var menu_step_array = this.menu_steps[this.method];
          var is_find = false;
          var is_next = false;
          var is_now = false;
          if (this.menu_step == menu_step) {
            is_now = true;
          } else {
            for (var i = 0; i < menu_step_array.length; i ++) {
              if (this.menu_step == menu_step_array[i]) {
                is_find = true;
              }
              if (menu_step == menu_step_array[i] && is_find) {
                is_next = true
              }
            }
          }

          return {
            is_next : is_next,
            is_now : is_now,
          };
        },
        menuClass: function (menu_step) {
          var _obj = this.checkMenuStep(menu_step);
          return {
            'btn btn-primary': _obj.is_now,
            'btn btn-default': !_obj.is_next,
            'btn btn-default disabled': _obj.is_next,
          }
        },
        chageMethod: function(method) {
          if (method == 'R') {
            this.menu_step = 'room';
          } else {
            this.menu_step = 'date';
          }
          this.method = method;
        },
        nextMenuStep: function() {
          var now_menu_step = this.menu_step;
          var menu_step_array = this.menu_steps[this.method];
          for (var i = 0; i < menu_step_array.length; i ++ ) {
            if(now_menu_step == menu_step_array[i]) {
              this.menu_step = menu_step_array[parseInt(i) + 1];
            }
          }
        },
        // ROOM
        changeRoomFloor: function(floor) {
          this.info.floor = (this.info.floor == floor) ? null : floor;
        },
        chooseRoom: function(room) {
          if (room.available_for_rsv_create != true) {
            var message = '예약 불가능 상태입니다.'
            if (!this.user) {
              message += '\n로그인 후 다시 확인해주세요.' 
            } else {
              message +=  '\n관리자로 로그인 해 주세요'
            } 

            alert(message);
          } else {
            this.info.room_number = room.room_number;
            this.info.room_name =  room.name;
            this.formData.room_id = room.room_id;
            this.nextMenuStep();
          }
        },
        getRoom: function() {
          global.ajax({
            url: '/api/room',
            type: 'GET',
            data: null,
            query: {
              building_id : this.params.building_id,
              sort_by_floor: 1,
            }
          },
          function(data, status) {
            app.rooms = data.results;
          },
          function(message, status, data) {
            alert(message);
          })
        },
        // DATE
        onSelected: function(date) {
          this.formData.date = date;
          this.info.date = global.parseDateFromDB(date);
        },
        // TIME

        // DETAIL

        // LAST
      },
      watch: {
        menu_step: function (menu_step) {
          switch (menu_step) {
            case 'room':
              this.info.floor = null;
              this.info.room_name = null;
              this.info.room_number = null;
              this.formData.room_id = null;
              this.formData.date = null;
              this.info.date = null;
              this.getRoom();
              break;
            case 'date':
              this.formData.date = null;
              this.info.date = null;
              break;
            default:
              break;
          }
        },
      },
      created: function() {
        this.menu_step = this.menu_steps[this.method][0];
      }
    })
  </script>

</body>

</html>