<% include ./sub/header %>
      <template v-if="page_step=='I'">
        <% include ./rsv_section/intro %>
      </template>

      <template v-else>
        <% include ./rsv_section/menu %>
        <% include ./rsv_section/left_info %>

        <template v-if="menu_step=='room'">
          <% include ./rsv_section/room %>
        </template>
        <template v-if="menu_step=='date'">
          <custom-datepicker
            inline="false"
            :default_date="new Date()"
            :building_id="params.building_id"
            :room_id="formData.room_id"
            :on-selected="onSelected"
          />
        </template>
      </template> 

    </main>
    
    <footer>
      <% include ./sub/footer %>
    </footer>
  </div>

<% include ./component/datepicker %>
  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          query : <%-JSON.stringify(query) %>,
          params : <%-JSON.stringify(params) %>,
          date: null,
          page_step : 'I',
          menu_step : null,
          menu_step_info : {
            'room' : '강의실 선택',
            'date' : '날짜 선택',
            'time' : '시간 선택',
            'detail' : '상세정보 입력',
            'last' : '내용 확인',
          },
          menu_steps : {
            'R' : ['room', 'date', 'time', 'detail', 'last'],
            'DT' : ['date', 'time', 'room' ,'detail', 'last'],
          },
          
          info : {
            floor : null,
            room_name : null,
            room_number : null,
          },
          formData:{
            room_id:null,
            date:null,
          },

          rooms: {},
          holiday_results : [],
        }
      },
      methods: {
        chageMenuStep: function (menu_step) {
          this.menu_step = menu_step;
        },
        classObjectMenu: function (menu_step) {
          return {
            'btn btn-primary': this.menu_step == menu_step,
            'btn btn-default': this.menu_step != menu_step,
          }
        },
        chagePageStep: function(page_step) {
          if (page_step == 'R') {
            this.menu_step = 'room';
          } else {
            this.menu_step = 'date';
          }
          this.page_step = page_step;
        },
        nextMenuStep: function() {
          var now_menu_step = this.menu_step;
          var menu_step_array = this.menu_steps[this.page_step];
          for (var i = 0; i < menu_step_array.length; i ++ ) {
            if(now_menu_step == menu_step_array[i]) {
              this.menu_step = menu_step_array[parseInt(i) + 1];
            }
          }
        },
        // ROOM
        changeRoomFloor: function(floor) {
          this.info.floor = (this.info.floor == floor) ? null : floor;
        },
        chooseRoom: function(room) {
          this.info.room_number = room.room_number;
          this.info.room_name =  room.name;
          this.formData.room_id = room.room_id;
          this.nextMenuStep();
        },
        getRoom: function() {
          global.ajax({
            url: '/api/room',
            type: 'GET',
            data: null,
            query: {
              building_id : this.params.building_id,
              sort_by_floor: 1,
            }
          },
          function(data, status) {
            app.rooms = data.results;
          },
          function(message, status, data) {
            alert(message);
          })
        },
        // DATE
        onSelected: function(date) {
          this.formData.date = date;
        },
        // TIME

        // DETAIL

        // LAST
      },
      watch: {
        menu_step: function (menu_step) {
          switch (menu_step) {
            case 'room':
              this.info.floor = null;
              this.info.room_name = null;
              this.info.room_number = null;
              this.formData.room_id = null;
              this.formData.date = null;
              this.getRoom();
              break;
            case 'date':
              this.formData.date = null;
            default:
              break;
          }
        },
      }
    })
  </script>

</body>

</html>