<% include ../sub/header %>
      <form v-on:submit="join">
        <div class="single_input_body">
        
          <div class="pack_div clearfix">
            <div class="div_left">
              <label>학생</label>
            </div>
            <div class="div_right">
              <input type="checkbox" v-model="joinForm.is_student" true-value="1" false-value="0">
            </div>
          </div>
          
          <div class="pack_div clearfix">
            <div class="div_left">
              <label>학과</label>
            </div>
            <div class="div_right">
              <select class="form-control" v-model="joinForm.department_id">
                <option v-for="(department, i) in department_results" v-bind:value="department.department_id" :key="i">
                  {{ department.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="pack_div clearfix">
            <div class="div_left">
              <label>캠퍼스</label>
            </div>
            <div class="div_right">
              <select class="form-control" v-model="joinForm.campus_id" @change="replaceBuildings()">
                <option v-for="(campus, i) in campus_results" v-bind:value="campus.campus_id" :key="i">
                  {{ campus.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="pack_div clearfix">
            <div class="div_left">
              <label>학습관</label>
            </div>
            <div class="div_right">
              <select class="form-control" v-model="joinForm.building_id"  :disabled="joinForm.campus_id == null">
                <option v-for="(building, j) in building_results" v-bind:value="building.building_id" :key="j">
                  {{ building.name }}
                </option>
              </select>
            </div>
          </div>
          
          <div class="pack_div clearfix">
            <div class="div_left">
              <label>이메일</label>
            </div>
            <div class="div_right">
              <input style="width:85%; display:inline;" type="email" class="form-control" v-model="joinForm.email" placeholder="이메일을 입력해주세요">
              <button type="button" class="btn btn-default" @click="checkEmail()">확인</button>
            </div>
          </div>
          
          <div class="pack_div clearfix" v-if="check_email == true">
            <div class="div_left">
              <label>이메일 인증 암호</label>
            </div>
            <div class="div_right">
              <input style="width:85%" type="password" class="form-control" v-model="joinForm.email_password" placeholder="이메일 인증 암호를 입력해주세요">
              <p>스팸 메일함을 확인해주세요</p>
            </div>
          </div>

          <div class="pack_div clearfix" :class="classPassDiff()">
            <div class="div_left">
              <label>암호</label>
            </div>
            <div class="div_right">
              <input type="password" class="form-control" v-model="joinForm.password" placeholder="암호를 입력해주세요">
            </div>
          </div>

          <div class="pack_div clearfix" :class="classPassDiff()">
            <div class="div_left">
              <label>암호 확인</label>
            </div>
            <div class="div_right">
              <input type="password" class="form-control" v-model="joinForm.password_check" placeholder="암호를 다시 한번 입력해주세요">
            </div>
          </div>

          <div class="pack_div clearfix">
            <div class="div_left">
              <label>이름</label>
            </div>
            <div class="div_right">
              <input type="text" class="form-control" v-model="joinForm.name" placeholder="이름을 입력해주세요">
            </div>
          </div>

          <div class="pack_div clearfix">
            <div class="div_left">
              <label>전화번호</label>
            </div>
            <div class="div_right">
              <input type="text" class="form-control" v-model="joinForm.phone" placeholder="전화번호를 입력해주세요">
            </div>
          </div>

          <div class="pack_div clearfix" v-if="joinForm.is_student == 1">
            <div class="div_left">
              <label>학번</label>
            </div>
            <div class="div_right">
              <input type="text" class="form-control" v-model="joinForm.student_number" placeholder="학번을 입력해주세요">
            </div>
          </div>

          <div class="single_button">
            <button type="submit" class="btn btn-primary">가입</button>
          </div>
        </div>
      </form>
    </main>
    
    <footer>
      <% include ../sub/footer %>
    </footer>
  </div>

  
  <script type="text/javascript" src="/javascripts/validate.js"></script>
  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          department_results : <%-JSON.stringify(department_results) %>,
          campus_results : <%-JSON.stringify(campus_results) %>,
          buildings : <%-JSON.stringify(buildings) %>,
          building_results: [],
          joinForm: {
            is_student: 1,
            department_id: null,
            campus_id: null,
            building_id: null,
            email: null,
            email_password: null,
            password: null,
            password_check: null,
            name: null,
            phone: null,
            student_number: null,
          },
          check_email: false,
        }
      },
      methods: {
        replaceBuildings: function (event) {
          this.building_results = this.buildings[this.joinForm.campus_id];
          this.joinForm.building_id = null;
        },
        checkEmail: function() {
          var _validate = validate(this.joinForm, {
            'email': {
              is_require: true,
            },
          });
          if (_validate) {
            alert(_validate)
          } else {
            var __this = this;
            global.ajax({
                url: 'auth//email/password',
                type: 'POST',
                data: {
                  email: this.joinForm.email
                }
              },
              function (data, status) {
                alert('입력한 이메일 주소로 인증용 암호를 전송했습니다.')
                __this.check_email = true;
              },
              function (message, status, data) {
                alert(message);
              });
          }
        },
        join: function (e) {
          e.preventDefault();
          var _validate = validate(this.joinForm, {
            'department_id': {
              is_require: (this.joinForm.is_student == 1) ? true : false,
            },
            'campus_id': {
              is_require: true,
            },
            'building_id': {
              is_require: true,
            },
            'email': {
              is_require: true,
            },
            'email_password': {
              is_require: true,
            },
            'password': {
              is_require: true,
            },
            'password_check': {
              is_require: true,
            },
            'name': {
              is_require: true,
            },
            'phone': {
              is_require: false,
            },
            'student_number': {
              is_require: (this.joinForm.is_student == 1) ? true : false,
            },
          });
          if (_validate) {
            alert(_validate)
          } else if (this.matchingPass(this.joinForm) != true) {
            alert('암호, 암호 확인을 다시 입력해주세요')
          } else {
            var __this = this;
            global.ajax({
                url: '/auth/join',
                type: 'POST',
                data: this.joinForm
              },
              function (data, status) {
                alert(data.message);
                location.href = '/'
              },
              function (message, status, data) {
                alert(message);
              });
          }
        },
        matchingPass: function(form) {
          if (form.password_check != null && form.password_check.trim() != '') {
            if (form.password_check != form.password) {
              return false;
            } else {
              return true;
            }
          }
        },
        classPassDiff: function () {
          let is_mach = this.matchingPass(this.joinForm);
          return {
            'form-inline has-success': is_mach == true,
            'form-inline has-error': is_mach == false,
            'form-inline ': is_mach == undefined,
          }
        },
      }
    })
  </script>

</body>

</html>