<% include ../sub/header %>
      <div class="campuses">
        <div class="title">
          <h1>학습관을 선택해주세요</h1>
          <p><strong>인천 지역 대학</strong>을 이용해주세요</p>
        </div>
        <dl>
          <dt v-for="(campus, i) in campuses" :key="i">
            <div class="btn-group-vertical" role="group">
              <button type="button" class="btn btn-primary"  @click="clickCampus(campus.campus_id)">{{campus.name}}</button>
              <dl>
                <dt v-for="(building, j) in campus.building_results" :key="j">
                  <div v-if="campus_id==building.campus_id">
                    <button type="button" class="btn btn-default" @click="locationHref('/reservation/intro/'+ building.building_id)" >
                      {{building.name}}
                    </button>
                  </div>
                </dt>
              </dl>
            </div>
          </dt>
        </dl>
      </div>
    </main>
    
    <footer>
      <% include ../sub/footer %>
    </footer>
  </div>

  <script>
    var global = makeGlobal();
    var campuses = <%-JSON.stringify(campuses) %>;
    var message = '<%-locals.message %>';
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          header_menu_name: 'main',
          campuses : campuses,
          campus_id: <%- campus_id %>,
          message:message,
        }
      },
      methods : {
        alertBuildingMsg: function() {
          alert('현재 비 활성화된 건물입니다.');
        },
        clickCampus: function (campus_id) {
          if (this.campus_id == campus_id) {
            this.campus_id = null;
          } else {
            this.campus_id = campus_id
          }
        },
        locationHref: function (link) {
          location.href= link;
        }
      },
      mounted: function() {
        if (this.message) {
          alert(this.message)
        }
      }, 
    })
  </script>

</body>

</html>