<% include ../sub/header %>
<% include ../sub/mypage_menu %>
  <user-input 
  mod="GET"
  :user="user" 
  :is_admin="is_admin"
  :department_results="department_results"
  :campus_results="campus_results"
  :buildings="buildings"
  >
  </user-input>
</main>

<footer>
  <% include ../sub/footer %>
</footer>
</div>

<% include ../component/user_input %>
<script>
  var global = makeGlobal();
  var app = new Vue({
    el: '#app',
    data: function () {
      return {
        header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
        mypage_menu_name: global.getMypageMenuName("<%-pagename %>"),
        is_user: <%- is_user %>,
        is_admin: <%- is_admin %>,
        user: <%-JSON.stringify(user) %> ,
        department_results: <%-JSON.stringify(department_results) %> ,
        campus_results: <%-JSON.stringify(campus_results) %>,
        buildings: <%-JSON.stringify(buildings) %>,
      }
    },
    methods: {
      refresh: function() {
        location.href= '/mypage/myaccount'
      },
    }
  })
</script>

</body>

</html>