<% include ../sub/header %>
<% include ../sub/mypage_menu %>
<div class="mypage_right">
  <div class="lookup_body">
    <div class="lookup_button">
      <button type="button" class="btn btn-default" @click="gotoRsvLookup()">내 예약</button>
      <button type="button" class="btn btn-success" 
        @click="readNotification()">
        전체읽음
      </button>
      <button type="button" class="btn btn-danger" 
        @click="deleteNotification()">
        전체삭제
      </button>
    </div>
    <table class="table table-hover">
      <thead>
        <th>메세지</th>
        <th>업데이트</th>
        <th>관리</th>
      </thead>
      <tbody>
        <tr v-for="(notification, i) in results" :key="i">
          <td>
            <a v-if="notification.is_read == 0" v-bind:href="'/notification/read/' + notification.notification_id">
              <strong>
                {{makeDisplayMsg(notification)}}
              </strong>
            </a>
    
            <a v-else v-bind:href="'/notification/read/' + notification.notification_id">
              {{makeDisplayMsg(notification)}}
            </a>
    
          </td>
          <td>{{notification.datetime_last_updated}}</td>
          <td>
            <button type="button" class="btn btn-danger" 
              @click="deleteNotification(notification.notification_id)">
              삭제
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
</main>

<footer>
  <% include ../sub/footer %>
</footer>
</div>


<script>
  var global = makeGlobal();
  var app = new Vue({
    el: '#app',
    data: function () {
      return {
        header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
        mypage_menu_name: global.getMypageMenuName("<%-pagename %>"),
        is_user: <%- is_user %>,
        is_admin: <%- is_admin %>,
        results : <%-JSON.stringify(results) %>,
        list_count : <%-JSON.stringify(list_count) %>,
      }
    },
    methods: {
      gotoRsvLookup: function() {
        var link = '/reservation/lookup?page=1&is_mine=1';
        
        location.href= link
      },
      makeDisplayMsg: function(notification) {
        var message = '"' + notification.title +'"'
        switch (notification.notification_type) {
          case 1:
            message += ' 예약 상태가 변경되었습니다'
            break;
          case 2:
            message += ' 예약 정보가 변경되었습니다'
            break;
          default:
            break;
        }
        message += ' (' + notification.notification_count +')'
        return message;
      },
      deleteNotification: function(notification_id) {
        var __this = this;
        var url = '/api/notification'
        global.ajax({
          url: url,
          type: 'DELETE',
          data: {
            notification_id: notification_id,
          }
        },
        function (data, status) {
          __this.refresh();
        },
        function (message, status, data) {
          alert(message);
        });
      },
      readNotification: function() {
        var __this = this;
        var url = '/api/notification/read'
        global.ajax({
          url: url,
          type: 'PUT',
        },
        function (data, status) {
          __this.refresh();
        },
        function (message, status, data) {
          alert(message);
        });
      },
      refresh: function() {
        location.href= '/mypage/dashboard'
      },
    }
  })
</script>

</body>

</html>