<% include ../sub/header %>
      <reservation-list
        :query="query"
        :params="params"
        :is_user="is_user"
        :is_admin="is_admin"
        :is_adminpage="is_adminpage"
        :is_lookup="is_lookup"
        :list_count="list_count"
        :room_rsv_results="results"
        :department_results="department_results"
        :rsv_status_results="rsv_status_results"
      >
      </reservation-list>

    </main>
    
    <footer>
      <% include ../sub/footer %>
    </footer>
  </div>
  
  <% include ../component/reservation_list %>
  <script type="text/javascript" src="/javascripts/validate.js"></script>
  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          is_adminpage: <%- is_adminpage %>,
          is_lookup: true,
          params : <%-JSON.stringify(params) %>,
          query : <%-JSON.stringify(query) %>,
          results : <%-JSON.stringify(results) %>,
          list_count : <%-JSON.stringify(list_count) %>,
          department_results : <%-JSON.stringify(department_results) %>,
          rsv_status_results : <%-JSON.stringify(rsv_status_results) %>,
          study_group_results : [],
          room_results: [],
        }
      },
      methods: {

      },
      computed: {

      }, 
    })
  </script>

</body>

</html>