<% include ../sub/header %>
      <template>
        <reservation-input 
        v-bind:reservation="reservation" 
        :is_admin="is_admin"
        mod="GET"
        :rsv_status_results="rsv_status_results"
        :room_rsv_category_results="room_rsv_category_results"
        :room_rsv_time_results="room_rsv_time_results"
        :room_to_use_results="room_to_use_results"
        :is_userpage="true"
        >
        </group-input>
      </template>


    </main>

    <footer>
      <% include ../sub/footer %>
    </footer>
  </div>

<% include ../component/reservation_input %>
  <script>
    var global = makeGlobal();
    var reservation = <%-JSON.stringify(reservation) %>;
    var rsv_status_results = <%-JSON.stringify(rsv_status_results) %>;
    var room_rsv_category_results = <%-JSON.stringify(room_rsv_category_results) %>;
    var room_rsv_time_results = <%-JSON.stringify(room_rsv_time_results) %>;
    var room_to_use_results = <%-JSON.stringify(room_to_use_results) %>;
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          reservation: reservation,
          rsv_status_results: rsv_status_results,
          room_rsv_category_results: room_rsv_category_results,
          room_rsv_time_results: room_rsv_time_results,
          room_to_use_results: room_to_use_results,
        }
      },
      methods: {
        
      },
    })
  </script>

</body>

</html> 