<% include ../sub/header %>
      <h1>예약/조회 페이지입니다.</h1>
      <div class="mom_div clearfix">
        <div class="panel panel-primary" @click="chageMethod('R')">
          <div class="panel-heading">
            교실 예약
          </div>
          <div class="panel-body">
            <span>교실에 따라</span> 예약합니다.
          </div>
        </div>

        <div class="margin_center panel panel-primary" @click="chageMethod('DT')">
          <div class="panel-heading">
            시간 예약
          </div>
          <div class="panel-body">
            <span>시간에 따라</span> 예약합니다.
          </div>
        </div>

        <div class="panel panel-info" @click="locationHrefLookup()">
          <div class="panel-heading">
            예약 조회
          </div>
          <div class="panel-body">
            <span>예약 목록</span>을 조회합니다.
          </div>
        </div>
      </div>
    </main>
    
    <footer>
      <% include ../sub/footer %>
    </footer>
  </div>
  
  
  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          department_id: <%- department_id %>,
          params : <%-JSON.stringify(params) %>,
        }
      },
      methods: {
        chageMethod: function(method) {
          if (method == 'R' || method == 'DT') {
            location.href = '/reservation/' + this.params.building_id + '?method=' + method
          }
        },
        locationHrefLookup: function() {
          var link ='/reservation/lookup?building_id=' + this.params.building_id + '&page=1'
          if (this.department_id) {
            link += '&department_id=' + this.department_id
          }
          location.href = link
        }
      }
    })
  </script>

</body>

</html>