<% include ../sub/header %>
      <room_rsv-input 
      v-bind:room_rsv="room_rsv" 
      :is_admin="is_admin"
      :is_adminpage="false"
      mod="GET"
      :rsv_status_results="rsv_status_results"
      :room_rsv_category_results="room_rsv_category_results"
      :building_id="building_id"
      >
      </room_rsv-input>


    </main>

    <footer>
      <% include ../sub/footer %>
    </footer>
  </div>

  
<% include ../component/reservation_input %>
  <script>
    var global = makeGlobal();
    var room_rsv = <%-JSON.stringify(room_rsv) %>;
    var rsv_status_results = <%-JSON.stringify(rsv_status_results) %>;
    var room_rsv_category_results = <%-JSON.stringify(room_rsv_category_results) %>;
    var building_id = '<%-locals.building_id %>';
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          building_id: building_id,
          room_rsv: room_rsv,
          rsv_status_results: rsv_status_results,
          room_rsv_category_results: room_rsv_category_results,
        }
      },
      methods: {
        
      },
    })
  </script>

</body>

</html> 