<% include ../sub/header %>
      <% include ../sub/reservations %>
    </main>
    
    <footer>
      <% include ../sub/footer %>
    </footer>
  </div>
  
  <script>
    var global = makeGlobal();
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          params : <%-JSON.stringify(params) %>,
          query : <%-JSON.stringify(query) %>,
          results : <%-JSON.stringify(results) %>,
          list_count : <%-JSON.stringify(list_count) %>,
          department_results : <%-JSON.stringify(department_results) %>,
          rsv_status_results : <%-JSON.stringify(rsv_status_results) %>,
          study_group_results : <%-JSON.stringify(study_group_results) %>,
        }
      },
      methods: {
        makeDisplayName: function (room_rsv) {
          var name = ''
          if (room_rsv.department_name)
            name += room_rsv.department_name
          if (room_rsv.study_group_name)
            name += ' (' + room_rsv.study_group_name + ')'
          return name;
        },
        onSelected: function(date) {
          if (date != null) {
            date = global.parseDate(date)
          }
          this.query.date = date;
          this.refresh();
        },
        onChange: function() {
          this.refresh();
        },
        clickIsMine: function(is_mine) {
          this.query.is_mine = is_mine;
          this.refresh();
        },
        chagePage: function(page) {
          this.query.page = page;
          this.refresh();
        },
        refresh: function() {
          this.query.department_id = this.query.department_id || undefined;
          if (!this.query.department_id) {
            this.query.study_group_id = 0;
          }
          this.query.study_group_id = this.query.study_group_id || undefined;
          this.query.rsv_status = this.query.rsv_status || undefined;
          this.query.building_id = undefined;
          location.href= '/reservation/lookup/' + this.params.building_id + global.serializeQuery(this.query);
        },
      },
      computed: {
        pagenation: function() {
          return pagenation({
            numberOfItems:this.list_count,
            itemsPerPage: 10,
            pagesPerNav:5,
            indexOfPage: this.query.page,
            hasPrevAndNext: true,
            prevText:'&laquo;',
            nextText:'&raquo;',
          })
        },
      }, 
    })
  </script>

</body>

</html>