<% include ../sub/header %>
      <% include ../sub/admin_menu %>

      <div class="admin_right">
        <room-list
          :query="query"
          :params="params"
          :is_user="is_user"
          :is_admin="is_admin"
          :is_adminpage="false"
          :results="results"
          :list_count="list_count"
          :building_id="building_id"
          :room_category_results="room_category_results"
        >
        </room-list>
      </div>
    </main>

    <footer>
      <% include ../sub/footer %>
    </footer>
    </div>

  <% include ../component/room_list %>
  <script>
    var global = makeGlobal();
    var building_id = '<%-locals.building_id %>';
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          admin_menu_name: global.getAdminMenuName("<%-pagename %>"),
          is_user: <%- is_user %> ,
          is_admin: <%- is_admin %> ,
          results: <%-JSON.stringify(results) %> ,
          list_count: <%-JSON.stringify(list_count) %> ,
          query: <%-JSON.stringify(query) %> ,
          params: <%-JSON.stringify(params) %>,
          building_id: building_id,
          room_category_results: <%-JSON.stringify(room_category_results) %>,
        }
      },
      methods: {
      
      },
    })
  </script>

</body>

</html>