<% include ../sub/header %>
      <template>
        <group-input v-bind:group="formData" v-bind:department_results="department_results" v-bind:building_results="building_results" mod="POST"></group-input>
      </template>
    <footer>
      <% include ../sub/footer %>
    </footer>
  </div>

  <% include ../component/notification %>
  <% include ../component/group_input %>
  <script>
    var global = makeGlobal();
    var department_results = <%-JSON.stringify(department_results) %>;
    var building_results = <%-JSON.stringify(building_results) %>;

    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          department_results : department_results,
          building_results : building_results,
          formData : {
            name:'',
            description:'',
            department_id: <%- department_id %>,
            building_id: <%- building_id %>,
          },
        }
      },
    })
  </script>

</body>

</html>