<% include ../sub/header %>
      <template>
        <group-input :is_admin="is_admin" v-bind:group="group" v-bind:department_results="department_results" v-bind:building_results="building_results" mod="GET"></group-input>
      </template>
      <div class="lookup_body" style="margin-top:5%">
        <table class="table table-hover">
          <thead>
            <th>이름</th>
            <th>학번</th>
            <th>전화번호</th>
            <th>가입일</th>
          </thead>
          <tbody>
            <tr v-for="(person, i) in results" :key="i">
              <td>{{person.name}}</td>
              <td>{{person.student_number}}</td>
              <td>{{person.phone}}</td>
              <td>{{person.date_joined}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    
    <footer>
      <% include ../sub/footer %>
    </footer>
  </div>

  
  <% include ../component/group_input %>
  <script>
    var global = makeGlobal();
    var group = <%-JSON.stringify(group) %>;
    var results = <%-JSON.stringify(results) %>;
    var department_results = <%-JSON.stringify(department_results) %>;
    var building_results = <%-JSON.stringify(building_results) %>;

    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          header_menu_name: global.getHeaderMenuName("<%-pagename %>"),
          is_user: <%- is_user %>,
          is_admin: <%- is_admin %>,
          group: group,
          department_results: department_results,
          building_results: building_results,
          results: results,
        }
      },
    })
  </script>

</body>

</html>